body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    perspective:500px;
    margin-top: 500px;
}
p{
    position: absolute;
    font-size: 40px;
    font-weight: 700;
    top: 30px;
    left: 330px;
}
.container-left{
    position: relative;
    width: 350px;
    height: 200px;
    border: 10px solid rgba(72, 45, 88, 0.644); 
    background-color: #792222;
}
.container-right{
    position: relative;
    width: 350px;
    height: 200px;
    border: 10px solid rgba(72, 45, 88, 0.644); 
    background-color: #792222;
}
.container:hover .container-left{
    transform: rotateY(60deg);
}
.container:hover .container-right{
    transform: rotateY(120deg);
}